@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap");
.header {
  padding: 20px;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 100;
  background: transparent;
  position: relative;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}
.logo-div {
  width: 20%;
}
.logo {
  width: 50%;
}
.header_center {
  width: 60%;
  display: flex;
  max-width: fit-content;
  align-items: center;
  flex: 1;
  height: 30px;
  font-weight: bold;
  padding: 10px;
  font-family: "Lexend";
  font-size: 16px;
  color: lightgray;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.header_right {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  font-family: "Lexend";
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
  color: lightgray;
  text-decoration: none;
  font-weight: bold;
}
.center_button {
  padding: 10px;
  font-family: "Lexend";
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
.banner {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 30px;
  width: 800px;
  text-shadow: white;
}
body {
  background: url("https://images7.alphacoders.com/362/362619.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-info > button {
  background-color: #754400;
  border: 2px solid #754400;
  padding: 10px 20px;
  text-transform: inherit;
  font-family: "Lexend";
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.05em;
  cursor: pointer;
  color: lightgray;
  font-weight: 600;
}
.banner-info > h4 {
  margin: 0;
  font-family: "Lexend";
  font-size: 14px;
  font-weight: 400;
  color: lightgray;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  text-align: center;
  line-height: 25px;
}
.banner-info > h1 {
  color: #754400;
  text-shadow: -3px 1px 5px #fff;
}
